<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                                 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>wls-logs-retrieval</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestJdbc</display-name>
    <servlet-name>TestJdbc</servlet-name>
    <servlet-class>cl.devweb.sample.jndi.TestJdbc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJdbc</servlet-name>
    <url-pattern>/TestJdbc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProxyServlet</servlet-name>
    <servlet-class>weblogic.servlet.proxy.HttpProxyServlet</servlet-class>
    <init-param>
      <param-name>redirectURL</param-name>
      <param-value>http://localhost:8080</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProxyServlet</servlet-name>
    <url-pattern>/MyProducerApp/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>World</display-name>
    <servlet-name>World</servlet-name>
    <servlet-class>cl.devweb.btrace.hello.World</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>World</servlet-name>
    <url-pattern>/World</url-pattern>
  </servlet-mapping>
</web-app>